{% extends "base/layout.html" %}

{% block title %}Logout{% endblock %}

{% block content %}

<div style="height: 500px !important; ">
    <h2>You have been logged out</h2>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

<!-- LOGOUT VIEW ALLOWS FOR USER TO LOG BACK IN -->
    <h2>Login</h2>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div>
            <input autofocus type="text" name="username" placeholder="Username">
        </div>
        <div>
            <input type="password" name="password" placeholder="Password">
        </div>
        <input type="submit" value="Login">
    </form>

    If you do not have an account, you can  <a href="{% url 'register' %}">Register Here</a>
</div>

{% endblock %}